<h1>Bienvenido!</h1>
<form action="/api/sessions/login" method="GET">
    <button>Iniciar Sesion</button>
</form>

<form action="/api/sessions/register">
    <button>Registrar Usuario</button>
</form>

<form action="/api/sessions/profile">
    <button>Perlfil</button>
</form>
