<div>
    <h1>Welcome</h1>

    <a href="/user/register"><button>Register</button></a>

    <a href="/user/login"><button>Log In</button></a>

    <a href="/user/profile"><button>Profile</button></a>

    <a href="/user/githubcallback"><button>Log In with GitHub</button></a>
</div>