<div>
    <h1>Bienvenido</h1>
    
    <form action="/user/register" method="GET">
        <button>Registrate</button>
    </form>

    <form action="/user/login" method="GET">
        <button>Inicia Sesion</button>
    </form>
</div>